<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CommentBox!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">    
  </head>

  <body onmousemove="initTimeOut()">
    <div class="container">

      <p class="alert alert-info" id="success" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <header>
          <div class="container">
              <div class="row justify-content-center mt-4">
                  <div class="col-10">
                      <div class="header d-flex align-items-center justify-content-between">
                          <a href="/">
                              <img src="<%= static_path(@conn, "/images/logo.svg") %>" alt="">
                          </a>
                          <h1>Comment System</h1>
                      </div>
                  </div>
              </div>
              
          </div>
      </header>
      <header>

          <div class="container">
                <div class="row justify-content-center mt-4">
                    <div class="col-10">

                        <div class="header d-flex align-items-center justify-content-start my-3">
                            <a class="btn btn-primary" href="/">Comments</a>  <a class="btn btn-primary mx-2" href="/users">Users</a>
                        </div>
                    </div>
                </div>
          </div>

      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      let timeOut;

      function initTimeOut() {
        timeOut = setTimeout(hideFlashMessage, 3000);
      };

      function hideFlashMessage() {
        let element = document.getElementById("success");
        element.style.display = "none";
      };
    </script>
  </body>
</html>
